<div class="col-12 col-md-6 col-lg-4">
    <!-- Single Featured Post -->

    
    <% if(typeof articles != 'undefined'){ %>
        <% articles.forEach(article =>{ %>
            <div class="single-blog-post small-featured-post d-flex">
                <div class="post-thumb">
                    <a href="#"><img src="/img/bg-img/<%- article.src %>" alt=""></a>
                </div>
                <div class="post-data">
                    <a href="#" class="post-catagory"><%- article.category_title%></a>
                    <div class="post-meta">
                        <a href="#" class="post-title">
                            <h6><%- article.article_title %></h6>
                        </a>
                        <p class="post-date"><%- article.date %></span></p>
                    </div>
                </div>
            </div>

        <% }); %>
     <% } %>

</div>