<h5 class="title">3 Comments</h5>
<% if(typeof comments != "undefined"){ %>
<% comments.forEach(comment =>{ %>

<ol>
    <!-- Single Comment Area -->
    <li class="single_comment_area">
        <!-- Comment Content -->
        <div class="comment-content d-flex">
            <!-- Comment Author -->
            <div class="comment-author">
                <img src="/img/bg-img/30.jpg" alt="author">
            </div>
            <!-- Comment Meta -->
            <div class="comment-meta">
                <a href="#" class="post-author"><%= comment.name %></a>
                <a href="#" class="post-date"><%= dateAndTime.format(comment.date, 'MMMM DD  | h:mm A') %></a>
                <p><%= comment.text %></p>
            </div>
        </div>
    </li>
</ol>
<% }) %>
<% } %>