<h3>4 Most Popular News</h3>

<!-- Single Popular Blog -->
<% if(typeof articles != "undefined"){ %>
<% articles.forEach((article, index) =>{ %>

<div class="single-popular-post">
    <a href="#">
        <h6><span><%= index+1 %></span><%= article.article_title %></h6>
    </a>


    <p><%= dateAndTime.format(article.article_date, 'MMMM DD  | h:mm A') %></p>
</div>

<% })%>
<% }%>
<!-- Single Popular Blog -->